:root {

    --cor-fundo: #2C3639;
    --cor-texto: #DCD7C9;
    --cor-detalhe: #A27B5C;
    --cor-efeito: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

body {

    background-color: var(--cor-fundo);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    color: var(--cor-texto);
    line-height: 1.5em;
    
}

.cabecalho {

    padding: 1.5rem 1.5rem 1.5rem 6rem;    
    background-color: var(--cor-efeito);
   
    
}

.cabecalho__menu {

    display: flex;
    gap: 5rem;

}
.cabecalho__menu__link{

    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-texto);
    text-decoration: none;

}

.cabecalho__menu__link:hover {

    color: var(--cor-detalhe);
    
}

.container {
    
    height: 100vh;
    
}

.principal {

    display: grid;
    grid-template-columns: 50% 50%;    
    align-items: center;    
    justify-content: space-between;    
    gap: 5rem;

}

.format__titulo {

    color: var(--cor-texto); 
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);

}

.principal__titulo {

    
    color: var(--cor-texto);    
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    padding: 1rem 1rem 1rem 6rem;
      
}

.strong__html__css {

    color: var(--cor-detalhe);
}

.principal__texto {

    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.25rem;
    padding: 1rem 1rem 1rem 6rem;

}

.principal__img {

    width: 60%;
    height: auto;
    border-radius: 2rem;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    
}

.principal__img:hover {

    opacity: 1;

}

.secundario {

    display: grid;
    grid-template-columns: 50% 50%;    
    align-items: center;
    
    
}

.secundario__texto {

    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-size: 1.3rem;
    padding: 1rem 1rem 1rem 6rem;
    line-height: 1.5rem;
    text-align: justify;    
    
}

.secundario__links {

    text-align: center;
    

}

.secundario__botao {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--cor-texto);
    border: solid 2px var(--cor-detalhe);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 10rem 1rem 10rem;
    
}

.secundario__botao:hover {

    background-color: var(--cor-efeito);


}

.rodape {

    text-align: center;    
    background-color: var(--cor-efeito);
}

@media (max-width: 1050px) {

    .cabecalho {

        width: 100%;
        padding: 5%;   
        text-align: center;
        

    }

    .cabecalho__menu{


        justify-content: center;
        
    }

    .cabecalho__menu__link {

        font-size: 2rem;
    }

    .principal, .secundario {

        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        padding: 5%;
        
        
        
    }

    .principal__caixa {

        order: 1;
    }

    .principal__img {

        order: 0;
        width: 100%;
        height: auto;

    }

    .secundario__texto {

        align-items: center;        
        margin: 1rem;
        padding: 1rem;
        font-size: auto;
        word-wrap: break-word;
    }

    .secundario__botao {

        text-align: center;
        margin: 2rem;
        
    }
    


}
